@import "tailwindcss";

body {
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #60a5fa;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

button {
  transition: 0.2s ease;
}

button:hover {
  opacity: 0.9;
}